@page "/counter"

<h1>Counter</h1>

<p id="count">Current count: @currentCount</p>

<button class="btn inc btn-primary" @onclick="IncrementCount">Increment</button>
<button class="btn dec btn-primary" @onclick="DecrementCount">Decrement</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

    void DecrementCount()
    {
        currentCount--;
    }
}
